<h1 class="text-center" id="gl">All Glycemie</h1>
<div class="card-container">
    @for (gl of glycemies; track $index) {
    <div class="card">
        <h1 class="headline">Glucose Level: {{gl.level}}</h1>
        <p class="subheading">Date: {{gl.date}}</p>
        <div class="icons">
            <a class="icon" (click)="delete(gl.id)" onclick="window.location.reload()"><i style="color: rgb(255, 97, 97);"
                class="fa-solid fa-trash"></i></a>
            <a class="icon" [routerLink]="['/update',gl.id]"><i style="color: rgb(97, 255, 97);"
                class="fa-solid fa-pen-to-square"></i></a>
        </div>
    </div>
    }
</div>

