
<div class="card-container">
   
    <div class="card">
        <h1 class="headline">Glucose Level: {{glycemieToBeUpdated.level}}</h1>
        <p class="subheading">Date: {{glycemieToBeUpdated.date}}</p>
    </div>
    
</div>
<button class="btn" (click)="update()">Show </button>
<div class="header__form" style="margin: 0 auto;">
    <form [formGroup]="updatedForm" (ngSubmit)="handelSubmitUpdate()">
        <h4>Add New Glycemie</h4>
        <input type="datetime-local" placeholder="Date And Time" formControlName="date" />
        <input type="number" placeholder="Level" formControlName="level"/>
        <button type="submit" class="btn form__btn">Add</button>
    </form>
</div>